<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuit" verbose="1" parallel="false">
  <test name="digitaltolk">
    <classes>
      <class name="com.digitaltolk.qa.page.test.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
 
 
</suite> <!-- Suite -->
